
body{
background: url('https://images.pexels.com/photos/10198426/pexels-photo-10198426.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
background-attachment: fixed;
background-size: cover;
background-position-x: center;
background-position-y: center;
}


header{
  border-bottom: 1px solid black;
  margin: 2rem 0;
  text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
section.grid{
  flex-wrap: wrap;
}
#checklist, #info{
    height: 35vh;
    margin: 10px 0;
    background-color: #585858b5;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
  }
  #links{
    width: 80%;
    margin: 0 auto;
    padding: 5px 0;
  }
#info h3{
  font-weight: 600;
  margin-bottom: 0;
  padding: 20px 0px 5px 0px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-align: center;
  color: wheat;
}
#info  p.content{
  padding: 0 10px 10px 10px;
  letter-spacing: .08rem;
  border: none;
  max-height: 200px;
  font-weight: 600;
  color: wheat;
}

#info p.content > a{
  color: #390091;
  font-size: 1.1rem;
}

#checklist{
  margin-top:0px;
  font-weight: 900;
}

#checklist > p{
  width: 75%;
  margin: 0 auto;
  text-transform: uppercase;
  border-bottom: 1px solid;
  padding: 0 10px;
  color: wheat;
}


#checklist li label{
  text-transform: uppercase;
    letter-spacing: 3px;
    color: wheat;
}
#checklist li label.strike{
  text-decoration: line-through;
}

#checklist ul{
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
}

#checklist ul li{
margin: 5px;
padding: 5px;
font-size: 14px;
}

#checklist ul li:nth-last-child(2){
background-color: #45a91263;
border: 1px solid green;
border-radius: 5px;
}


#checklist sub{
   display: block;
    margin: 0 auto;
    color: #81ff81;
    font-size: 1rem;
}

  #links ul{
    margin: 0;
    padding: 0;
    height: 100%;
  }

    li.ui.card{
      height: 140px;
      width: 100%;
    }

    li.ui.card a{
      width: 100%;
      height: 100%;
      background-color: #78787870;
    }

    li.ui.card a:hover{
      background-color:#787878;
      opacity: 0.7;
    }


    li.ui.card a div.done{
      display: none;
    }
    li.ui.card a.done{
      background-color:#000000d9;
      opacity: 0.7;
      pointer-events: none;
      position: relative;
    }

    li.ui.card a.done div.done{
        position: absolute;
        z-index: 999;
        float: right;
        display: block;
        font-size: 6rem;
        color: green;
        font-weight: 900;
        text-align: center;
        top: 40%;
        width: 100%;
        height: 100%;
    
    } 


  li.ui.card .ui.comments {
    height: 100%;
  }
  
  li.ui.card .ui.comments .comment {
    display: flex;
    height: 100%;
  }

  li.ui.card .ui.comments .comment .avatar {
    display: block;
    width: 35%;
    height: auto;
    padding: 1rem;
    margin: 0;
    float: unset;
  }

  li.ui.card .ui.comments .comment .avatar img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  li.ui.card .ui.comments .comment>.avatar~.content {
  margin-left: 0.5em;
  margin-top: 1.5em;
  width: 65%;
}



@media (max-width: 768px){
  #info{
    height: 30vh;
  }
  #info > p.content{
  max-height: 125px;
  }
 
  li.ui.card a.done div.done{
    font-size: 3rem;
    transform: translate(30px, 5px) rotate(320deg);
  }
  #links ul {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  li.ui.card {
    height: 165px;
    width: 45% !important;
    width: 100%;
    margin: 14px auto !important;
  }
  li.ui.card .ui.comments .comment .avatar{
    width: 100%;
  }
  li.ui.card .ui.comments .comment>.avatar~.content{
    display: none;;
  }


}
@media (min-width: 991px){
  section.ui.grid{
    position: relative;
  }
  
  #info{
    width: 37.5%;
    margin: 0;
    height: 40vh;
    po
  }
  #checklist{
    width: 37.5%;
    margin: 0;
    height: 40vh;
    position: absolute;
    top: 40vh;
    order:3;
}
  #links{
    width: 60%;
    margin: 0;
    padding: 5px;
    margin-right: 0;
}

  
}
